.gamesList {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gamesList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #fff;
}
.gamesList__filters--select {
  margin-right: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.gamesList__filters--options {
  background-color: var(--primary-color);
  color: #fff;
}

.gamesList__games {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-gap: 1rem;
  justify-items: center;
  justify-content: center;
}
